ConfigArgParse==0.14.0
peewee==3.16.3
numpy==1.24.4
matplotlib==3.7.2
geopy==2.3.0
geojson==3.0.1
requests==2.22.0
s2sphere==0.2.5
turfpy==0.0.7
leaflet==0.0.3
scipy==1.10.1
Shapely==1.7.1
mysql-connector-python==8.0.15
PyMySQL==1.1.0
simplejson==3.16.0
